html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); */
  background: rgba(227, 227, 277, 1);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  line-height: 1.2;
}

.ReactModal__Overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  position: relative !important;
  border: none !important;
  background: transparent !important;
  padding: 1rem !important;
  inset: 0 !important;
}

.ReactModal__Close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
