.services_wrapper {
  text-align: center;
  padding: 3.25rem 1rem;
}

.services_item_wrapper {
  position: relative;
  max-width: 20rem;
  border-radius: 50%;
  overflow: hidden;
  height: 20rem;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.services_item_wrapper>div {
  height: 100%;
}

.services_item_text,
.services_item_play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  background: rgba(255, 0, 0, 0.2);
  color: #fff;
  transform: translateY(50%);
  bottom: 0;
  padding-top: 1rem;
}

.services_item_play {
  top: 50%;
  background: transparent;
  transform: translateY(-50%);
  bottom: auto;
  padding: 0;
  font-size: 2rem;
  cursor: pointer;
}

.services_item_play:hover {
  font-size: 2.75rem;
  transition: all 0.25s ease;
}

.services_wrapper_section {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

@media screen and (max-width: 767px) {
  .services_item_wrapper {
    position: relative;
    width: 13rem;
    border-radius: 50%;
    overflow: hidden;
    height: 13rem;
  }
}